@import '../../assets//styles/variables.scss';

.weather__container {
    border: 3px solid #acacac;
    border-radius: 10px;
    margin: 40px auto;
    padding: 24px 32px;
    max-width: 720px;
}
.weather__info__container {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
}

h1 {
    color: $txt-color;
    font-family: $font-family;
    font-size: $txt-bigger-size;
    font-weight: $font-normal-weight;
    line-height: $line-height;
    letter-spacing: 0.14px;
    margin: 0;
}

p {
    color: $txt-color;
    font-family: $font-family;
    font-size: $txt-normal-size;
    font-weight: $font-normal-weight;
    line-height: $line-height;
    letter-spacing: 0.08px;
    margin: 0;
}

.weather__info {
    margin-right: 32px;
}

.weather__details__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100px;
    margin-bottom: 24px;

}

.weather__details {
    display: flex;
    align-items: center;

    svg {
        margin-right: 8px;
    }
}

agm-map {
    height: 300px;
}