// /* @text */
$txt-color: #2b2b2b;
$txt-bigger-size: 27px;
$txt-normal-size: 16px;
// /* end of @text */

/* main styles */
$font-family: 'Roboto', Arial, sans-serif;
$font-normal-weight: 300;
$line-height: 30px;
/* end of main styles */
